data/simmc_fashion/fashion_dev_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_test_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_train_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_dev_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_test_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_train_dials.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_metadata.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_metadata.csv filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_dev_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_train_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_train_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_dev_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_retrieval_candidates_teststd_format_private.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_retrieval_candidates_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_api_calls_teststd_format_private.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_devtest_dials_api_calls_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_retrieval_candidates_teststd_format_private.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_retrieval_candidates_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_api_calls_teststd_format_private.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_devtest_dials_api_calls_teststd_format_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_teststd_dials_api_calls.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_teststd_dials_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_fashion/fashion_teststd_dials_retrieval_candidates_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_teststd_dials_api_calls.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_teststd_dials_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_teststd_dials_retrieval_candidates_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_screenshots_part_0.zip filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_screenshots_part_1.zip filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_screenshots_part_2.zip filter=lfs diff=lfs merge=lfs -text
data/simmc_furniture/furniture_screenshot_map.json filter=lfs diff=lfs merge=lfs -text
